button.page-link {
    display: inline-block;
  }

  button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
  }

  .offset {
    width: 500px !important;
    margin: 20px auto;
  }

  .search {
    height: 100vh;
    overflow-y: scroll;
  }

  .viz {
    height: 100vh;
    overflow-y: scroll;
  }

  .tableFixHead {
    height: 100vh;
    overflow-y: auto;

  }

  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }

  /* Just common table stuff. Really. */
  table {
    border-collapse: collapse;

  }

  th,
  td {
    padding: 8px 16px;
    max-width: 150px;
    word-wrap: break-word;
  }

  th {
    background: #eee;
  }